openapi: 3.0.0
info:
  title: Kickbase API Documentation
  version: 1.0.0
  description: |
    # Kickbase API Documentation
    Unofficial documentation of the Kickbase API.
    
    ## Competition IDs
    - 1: Bundesliga
    - 2: 2. Bundesliga
    - 3: La Liga
    - 4: Google Pixel Frauen Bundesliga
  contact:
    name: Kai Detmers
    url: https://github.com/t3mr0i/Kickbase-API
servers:
  - url: https://api.kickbase.com
    description: Production Server
openapi: 3.0.0
info:
  title: Kickbase API
  description: >-
    [![Run in
    Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/kickbase-api-collection)


    Unofficial documentation of the Kickbase API
  version: 1.0.0
servers:
  - url: http://{{baseurl}}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
tags:
  - name: Account & Authentication
  - name: League Management
  - name: Market & Players
  - name: Competition
  - name: Challenge
  - name: Admin
  - name: Chat
  - name: Utility
  - name: News
  - name: Deprecated Endpoints
    description: These endpoints are mostly deprecated but might still work
paths:
  /v4/user/login:
    post:
      tags:
        - Account & Authentication
      summary: Login
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/user/register:
    post:
      tags:
        - Account & Authentication
      summary: Register User
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/user/forgotpassword:
    post:
      tags:
        - Account & Authentication
      summary: Forgot Password
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/user/settings:
    get:
      tags:
        - Account & Authentication
      summary: Get Account Settings
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Account & Authentication
      summary: Update Account Settings
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/user/settings/image:
    post:
      tags:
        - Account & Authentication
      summary: Set Profile Image
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/user/password:
    post:
      tags:
        - Account & Authentication
      summary: Edit Password
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/user:
    delete:
      tags:
        - Account & Authentication
      summary: Delete Account
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/leagues:
    post:
      tags:
        - League Management
      summary: Create League
      requestBody:
        content: {}
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/leagues/{leagueId}/join:
    post:
      tags:
        - League Management
      summary: Join League
      requestBody:
        content: {}
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/leagues/{leagueId}/join/{code}:
    post:
      tags:
        - League Management
      summary: Join Private League
      requestBody:
        content: {}
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
        - name: code
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/leagues/{leagueId}/overview:
    get:
      tags:
        - League Management
      summary: Get League Preview Data
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/leagues/{leagueId}/ranking:
    get:
      tags:
        - League Management
      summary: Get League Ranking
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/leagues/{leagueId}/me:
    get:
      tags:
        - League Management
      summary: Get User League Info
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/leagues/{leagueId}/activitiesFeed:
    get:
      tags:
        - League Management
      summary: Get League Activities Feed
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/invitations/{code}/validate:
    get:
      tags:
        - League Management
      summary: Validate Invitation Code
      parameters:
        - name: code
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/leagues/{leagueId}/squad:
    get:
      tags:
        - Market & Players
      summary: Get Squad
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/leagues/{leagueId}/players/{playerId}:
    get:
      tags:
        - Market & Players
      summary: Get Player Details
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
        - name: playerId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/leagues/{leagueId}/players/{playerId}/performance:
    get:
      tags:
        - Market & Players
      summary: Get Player Performance
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
        - name: playerId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/leagues/{leagueId}/market/overview:
    get:
      tags:
        - Market & Players
      summary: Get Market Overview
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/leagues/{leagueId}/market/players:
    get:
      tags:
        - Market & Players
      summary: Get Market Players
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/leagues/{leagueId}/market/{playerId}/buy:
    post:
      tags:
        - Market & Players
      summary: Buy Player
      requestBody:
        content: {}
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
        - name: playerId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/leagues/{leagueId}/market/{playerId}/sell:
    post:
      tags:
        - Market & Players
      summary: Sell Player
      requestBody:
        content: {}
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
        - name: playerId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/leagues/{leagueId}/market/{playerId}/bid:
    post:
      tags:
        - Market & Players
      summary: Place Bid
      requestBody:
        content: {}
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
        - name: playerId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/competition/{competitionId}:
    get:
      tags:
        - Competition
      summary: Get Competition Data
      parameters:
        - name: competitionId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/competition/{competitionId}/matchday/{matchDayId}:
    get:
      tags:
        - Competition
      summary: Get Match Day Data
      parameters:
        - name: competitionId
          in: path
          schema:
            type: string
          required: true
        - name: matchDayId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/matches/{matchId}/live:
    get:
      tags:
        - Competition
      summary: Get Live Match Data
      parameters:
        - name: matchId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/challenges/overview:
    get:
      tags:
        - Challenge
      summary: Get Challenge Overview
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/challenges/{challengeId}/join:
    post:
      tags:
        - Challenge
      summary: Join Challenge
      requestBody:
        content: {}
      parameters:
        - name: challengeId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/challenges/{challengeId}/profile:
    get:
      tags:
        - Challenge
      summary: Get Challenge Profile
      parameters:
        - name: challengeId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/challenges/{challengeId}/lineup:
    get:
      tags:
        - Challenge
      summary: Get Challenge Lineup
      parameters:
        - name: challengeId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - Challenge
      summary: Update Challenge Lineup
      requestBody:
        content: {}
      parameters:
        - name: challengeId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/challenges/{challengeId}/lineup/livepitch:
    get:
      tags:
        - Challenge
      summary: Get Challenge Live Pitch
      parameters:
        - name: challengeId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/challenges/{challengeId}/lineup/clear:
    post:
      tags:
        - Challenge
      summary: Reset Challenge Lineup
      requestBody:
        content: {}
      parameters:
        - name: challengeId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/leagues/{leagueId}/settings:
    get:
      tags:
        - Admin
      summary: Get League Settings
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Admin
      summary: Save League Settings
      requestBody:
        content: {}
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/leagues/{leagueId}/settings/managers:
    get:
      tags:
        - Admin
      summary: Get Managers
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/leagues/{leagueId}/reset:
    post:
      tags:
        - Admin
      summary: Reset League
      requestBody:
        content: {}
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/leagues/{leagueId}/resetteams:
    post:
      tags:
        - Admin
      summary: Reset Team
      requestBody:
        content: {}
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/leagues/{leagueId}/users/{userId}/unlock:
    post:
      tags:
        - Admin
      summary: Unlock Matchday Points
      requestBody:
        content: {}
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
        - name: userId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/chat/leagueselection:
    get:
      tags:
        - Chat
      summary: Fetch All Chat Leagues
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/chat/refreshtoken:
    get:
      tags:
        - Chat
      summary: Refresh Chat Token
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/config:
    get:
      tags:
        - Utility
      summary: Get App Configuration
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/support/contactinfo:
    get:
      tags:
        - Utility
      summary: Get Support Mail
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/bonus/collect:
    get:
      tags:
        - Utility
      summary: Collect Daily Bonus
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/live/eventtypes:
    get:
      tags:
        - Utility
      summary: Get Live Event Types
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/base/overview:
    get:
      tags:
        - News
      summary: Get Base Overview
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/base/sections/{sectionId}/items:
    get:
      tags:
        - News
      summary: Get Base Section Items
      parameters:
        - name: sectionId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/base/items/{itemId}:
    get:
      tags:
        - News
      summary: Get News Detail
      parameters:
        - name: itemId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v4/base/items/{itemId}/click:
    post:
      tags:
        - News
      summary: Track News Item Clicked
      requestBody:
        content: {}
      parameters:
        - name: itemId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /players/{playerId}/points:
    get:
      tags:
        - Deprecated Endpoints
      summary: Get Player Points (Old)
      parameters:
        - name: playerId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /live/top10:
    get:
      tags:
        - Deprecated Endpoints
      summary: Get Live Top 10 (Old)
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /leagues/{leagueId}/users/{userId}/stats:
    get:
      tags:
        - Deprecated Endpoints
      summary: Get User Stats (Old)
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
        - name: userId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /leagues/{leagueId}/users/{userId}/profile:
    get:
      tags:
        - Deprecated Endpoints
      summary: Get User Profile (Old)
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
        - name: userId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /leagues/{leagueId}/users/{userId}/players:
    get:
      tags:
        - Deprecated Endpoints
      summary: Get User Players (Old)
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
        - name: userId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /leagues/{leagueId}/users/{userId}/lineup:
    get:
      tags:
        - Deprecated Endpoints
      summary: Get User Lineup (Old)
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
        - name: userId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /leagues/{leagueId}/users/{userId}/feed:
    get:
      tags:
        - Deprecated Endpoints
      summary: Get User Feed (Old) - Filter 11
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
        - name: userId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /leagues/{leagueId}/stats:
    get:
      tags:
        - Deprecated Endpoints
      summary: Get League Stats (Old)
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /leagues/{leagueId}/players/{playerId}/stats:
    get:
      tags:
        - Deprecated Endpoints
      summary: Get Player Stats (Old)
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
        - name: playerId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /leagues/{leagueId}/players/{playerId}/feed:
    get:
      tags:
        - Deprecated Endpoints
      summary: Get Player Feed (Old)
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
        - name: playerId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /leagues/{leagueId}/players/{playerId}:
    get:
      tags:
        - Deprecated Endpoints
      summary: Get Player Details (Old)
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
        - name: playerId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /leagues/{leagueId}/me:
    get:
      tags:
        - Deprecated Endpoints
      summary: Get League Me (Old)
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /leagues/{leagueId}/market:
    get:
      tags:
        - Deprecated Endpoints
      summary: Get Market (Old)
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /leagues/{leagueId}/live/players/{playerId}:
    get:
      tags:
        - Deprecated Endpoints
      summary: Get Live Player Info (Old)
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
        - name: playerId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /leagues/{leagueId}/live/linedupplayers:
    get:
      tags:
        - Deprecated Endpoints
      summary: Get Lined Up Players (Old)
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /leagues/{leagueId}/live:
    get:
      tags:
        - Deprecated Endpoints
      summary: Get Live Info (Old)
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /leagues/{leagueId}/currentgift:
    get:
      tags:
        - Deprecated Endpoints
      summary: Get Current Gift (Old)
      parameters:
        - name: leagueId
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /competition/search:
    get:
      tags:
        - Deprecated Endpoints
      summary: Search Competition (Old)
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
